body,
html {
  color: $white;
  background: $grey;
}

.page-container {
  max-width: $xl-breakpoint;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 3px $black;
  padding-top: 3em;
}

.title {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.section-card {
  height: 200px;
  text-align: center;
  position: relative;
  background-color: $dark-blue;

  .title {
    color: $white;

    a {
      color: $light-blue;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $grey;
      }
    }
  }
}

.location {
  position: relative;
}

.title-card {
  height: 200px;
  text-align: center;
  position: relative;
  background-color: $light-blue;
}

.cameras {
  height: 300px;
  position: relative;
  background: $black;
}

.camera {
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;

  .title {
    z-index: 3;

    span {
      background: $light-blue;
      background: rgba(209, 237, 255, .5);
      padding: 5px 10px 3px;
    }
  }
}

@media (min-width: $s-breakpoint) {
  .section-card {
    height: 300px;
  }

  .title-card {
    height: 300px;
  }

  .cameras {
    height: 420px;
  }
}

@media (min-width: $m-breakpoint) {
  .cameras {
    height: 540px;
  }
}

@media (min-width: $l-breakpoint) {
  .cameras {
    height: 660px;
  }
}
