//
// Camera
// -------------------------------------

@import 'utils/config';
@import 'utils/helpers';

.camera {
  height: 100%;
  position: relative;
  width: 100%;

  &__image,
  &__iframe {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 3;

    span {
      background: $color-blue-trans;
      padding: 5px 10px 3px;
    }

    &--video {
      top: 40%;
    }
  }
}
