//
// Cameras
// -------------------------------------

@import 'utils/config';
@import 'utils/helpers';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.cameras {
  background: $color-black;
  height: 300px;
  position: relative;

  @media (min-width: $s-breakpoint) {
    height: 420px;
  }

  @media (min-width: $m-breakpoint) {
    height: 540px;
  }

  @media (min-width: $l-breakpoint) {
    height: 660px;
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slick-dots {
    bottom: 35px;

    li {
      button {
        &::before {
          color: $color-white;
          font-size: 16px;
          opacity: 0.5;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }

      &.slick-active {
        button {
          &::before {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
