//
// Cameras
// -------------------------------------

@import 'utils/config';
@import 'utils/helpers';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.cameras {
  background: $color-black;
  height: 300px;
  position: relative;

  @media (min-width: $s-breakpoint) {
    height: 420px;
  }

  @media (min-width: $m-breakpoint) {
    height: 540px;
  }

  @media (min-width: $l-breakpoint) {
    height: 660px;
  }
}
