//
// Footer
// -------------------------------------

@import 'utils/config';

.footer {
  background-color: $color-blue-dark;
  height: 100px;
  position: relative;
  text-align: center;

  &__title {
    color: $color-white;
    font-family: $font;
    font-size: 1.2em;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    a {
      color: $color-blue-light;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-grey;
      }
    }
  }
}
