//
// Title Card
// -------------------------------------

@import '../utils/Config';
@import '../utils/Helpers';

.title-card {
    background-color: $color-blue-light;
    display: table;
    height: 170px;
    position: relative;
    text-align: center;
    width: 100%;

    &__vertical-align {
        display: table-cell;
        vertical-align: middle;
    }

    &__title {
        a {
            color: $color-grey-dark;
            text-decoration: none;
        }
    }

    &--links {
        border-bottom: solid 1px $color-grey-light;
        height: 3em;

        ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        li {
            display: inline-block;
            margin: 0 0.5em;
        }
    }

    @media (min-width: $s-breakpoint) {
        height: 250px;

        &--links {
            height: 4em;

            li {
                margin: 0 0.8em;
            }

            a {
                transition: color 200ms ease-in-out;

                &:hover,
                &:focus {
                    color: $color-grey-dark;
                }
            }
        }
    }
}
