<div class="title-card title-card--links">
    <ul class="title-card__vertical-align">
      {{#each links}}
        <li><a href="{{url}}" class="link" target="_blank" rel="noopener noreferrer">{{name}}</a></li>
      {{/each}}
    </ul>
</div>
