{{#each locations}}
<div class="location">
  <div class="title-card">
    <h2 class="title">{{name}}</h2>
  </div>
  <div class="cameras owl-carousel owl-theme">
    {{#each cameras}}
      <div class="camera">
        <div class="image owl-lazy" data-src="{{url}}"></div>
        {{#if name}}
          <h3 class="title">
            <span>{{name}}</span>
          </h3>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
{{/each}}
