// Colors
// Adobe Color Config - https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.18823529411764706,0.3411764705882353,0.44313725490196076,0.7247787610619469,0.8899115044246911,1,0.4247787610619469,0.7699115044245957,1,0.36238938053097347,0.44495575221234557,0.5,0.3398230088495575,0.6159292035396766,0.8&swatchOrder=0,1,2,3,4
$white: #fff;
$black: #000;
$grey: #5C717F;
$grey-dark: darken($grey, 10%);
$grey-light: lighten($grey, 30%);
$blue: #6CC4FF;
$blue-medium: #579DCC;
$blue-dark: #305771;
$blue-light: #B9E3FF;

// Breakpoints
$s-breakpoint: 540px;
$m-breakpoint: 768px;
$l-breakpoint: 960px;
$xl-breakpoint: 1024px;

// fonts
$font: "League Gothic", "Myriad Pro", Helvetica, Arial, sans-serif;
$font-condensed: "League Gothic Condensed", "Myriad Pro", Helvetica, Arial, sans-serif;
