//
// Mixins
// -----------------------------------------------------

@mixin accelerate() {
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    perspective: 1000;
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin hidden() {
    display: none;
    visibility: hidden;
}

@mixin hidetext {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin offscreen {
    display: block;
    position: fixed;
    left: -9999px;
}
