// Colors
$white: #fff;
$black: #000;
$grey: #687680;
$dark-grey: darken($grey, 10%);
$light-grey: lighten($grey, 30%);
$blue: #518db6;
$dark-blue: darken($blue, 20%);
$light-blue: lighten($blue, 30%);

// Breakpoints
$s-breakpoint: 540px;
$m-breakpoint: 768px;
$l-breakpoint: 960px;
$xl-breakpoint: 1024px;

// fonts
$font: "League Gothic", "Myriad Pro", Helvetica, Arial, sans-serif;
$font-condensed: "League Gothic Condensed", "Myriad Pro", Helvetica, Arial, sans-serif;
