// Colors
$white: #fff;
$black: #000;
$grey: #687680;
$dark-blue: #426780;
$light-blue: #d1edff;

// Breakpoints
$s-breakpoint: 540px;
$m-breakpoint: 768px;
$l-breakpoint: 960px;
$xl-breakpoint: 1024px;

// fonts
$font: "League Gothic", "Myriad Pro", Helvetica, Arial, sans-serif;
$font-condensed: "League Gothic Condensed", "Myriad Pro", Helvetica, Arial, sans-serif;
