//
// Config
// -------------------------------------

// Colors
// Adobe Color Config - https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.18823529411764706,0.3411764705882353,0.44313725490196076,0.7247787610619469,0.8899115044246911,1,0.4247787610619469,0.7699115044245957,1,0.36238938053097347,0.44495575221234557,0.5,0.3398230088495575,0.6159292035396766,0.8&swatchOrder=0,1,2,3,4
$color-black: #000;
$color-white: #fff;
$color-blue: #6cc4ff;
$color-blue-dark: #305771;
$color-blue-light: #b9e3ff;
$color-blue-trans: rgba(185, 227, 255, 0.5);
$color-blue-medium: #579dcc;
$color-grey: #5c717f;
$color-grey-dark: darken($color-grey, 10%);
$color-grey-light: lighten($color-grey, 30%);
$color-grey-med: lighten($color-grey, 20%);
$body-bg: $color-grey-dark;
$text-color: $color-grey-dark;
$title-color: $color-white;
$link-color: $color-grey;
$link-hover-color: $color-grey-light;

// Fonts
$main-font: Arial, sans-serif;
$alt-font: Times, serif;
$title-font: 'Oswald', Helvetica, Arial, sans-serif;

// Media Queries
$mobile-breakpoint-min: 1px;
$mobile-breakpoint-wide: 480px;
$mobile-breakpoint-max: 767px;
$tablet-breakpoint-min: 768px;
$tablet-breakpoint-max: 1023px;
$desktop-breakpoint-min: 1024px;
$desktop-breakpoint-wide: 1280px;
$desktop-breakpoint-xwide: 1600px;
$desktop-breakpoint-max: 10000px;

// Container Sizes
$min-width: 320px;
$max-width: 1440px;
$gutter-width: 20px;
$vertical-pad: 20px;
$tablet-container-width: 720px;
$desktop-container-width: 960px;
$desktop-wide-container-width: 1200px;

// Breakpoints
$s-breakpoint: 540px;
$m-breakpoint: 768px;
$l-breakpoint: 960px;
$xl-breakpoint: 1024px;

// fonts
$font: 'Oswald', Helvetica, Arial, sans-serif;
$font-condensed: 'Oswald', Helvetica, Arial, sans-serif;

// slick carousel resolves
$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';
