//
// Helpers / Mixins
// -------------------------------------

%accelerate {
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
}

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

%offscreen {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: fixed;
  width: 1px;
}

%show {
  display: block;
  visibility: visible;
}

%hide {
  display: none;
  visibility: hidden;
}

%text-hide {
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}

// Animations
@mixin animation($name, $duration: 1s, $timing: linear, $iteration: infinite, $direction: normal, $fillMode: none) {
  animation-direction: #{$direction};
  animation-duration: #{$duration};
  animation-fill-mode: #{$fillMode};
  animation-iteration-count: #{$iteration};
  animation-name: #{$name};
  animation-timing-function: #{$timing};
}

// Gradients
@mixin background-linear-gradient($from, $to) {
  background-color: $from;

  @if $to != $from {
    background-image: linear-gradient($from, $to);
  }
}
